.topbar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  line-height: 75px;
}

.logo {
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  margin-left: 20px;
  min-width: 400px;
}

.buttoncontainer {
  display: flex;
}

.button {
  width: 75px;
  text-align: center;
}

.button:hover {
  border-bottom: 2px solid black;
}