.nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: lightgray;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  margin-left: 20px;
  /* min-width: 400px; */
}

.buttoncontainer {
  display: flex;
}

.button {
  width: 75px;
  text-align: center;

}

a {
  all: unset;
}

.button:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}


.splashscreen {
  position: relative;
  top: 60px;
}