input:focus {
  outline: none;
}
.mainapp {
  position: relative;
  display: flex;
  justify-content: center;
  top: 100px;
  left: 0;
  right: 0;
}

.chat {
  position: relative;
  left: 40px;
  border: 1px solid black;
  height: 500px;
  width: 400px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 800px;
  height: 800px;
}

.progress {
  position: relative;
  top: 50px;
  border: 1px solid black;
  width: 650px;
  height: auto;
}

.progressbarcontainer {
  height: 70px;
}

.progressuserinfo {
  position: relative;
  top: 5px;
  left: 2.5%;
  font-weight: bold;
}

.progressbar {
  position: relative;
  border: 1px solid black;
  height: 25px;
  width: 95%;
  left: 2.5%;
  top: 8px;
}

.progressbarprogress {
  height: 25px;
  position: relative;
  background-color: black;
  top: -18px;
  left: 2.5%;
  /* width: 618px; */
  transition: .3s ease-in-out;
}

.typingbox {
  position: relative;
  border: 1px solid black;
  width: 650px;
  margin-top: 100px;
  min-height: 150px;
  height: auto;
}

.prompt {
  position: relative;
  width: 95%;
  left: 2.5%;
  top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.wordcontainer {
  display: flex;
}
.letter {
  font-size: 20px;
  height: 20px;
}

.letter.done {
  font-weight: bold;
}

.cursor.shown {
  position: relative;
  height: 18px;
  width: 1px;
  background-color: black;
  top: -20px;
}

body {
  overflow: hidden;
}
