.typingbox {
  position: relative;
  border: 1px solid black;
  width: 650px;
  margin-top: 100px;
  min-height: 150px;
  height: auto;
}

.promptcontainer {
  position: relative;
  width: 95%;
  left: 2.5%;
  top: 5px;
  margin-bottom: 10px;
}

.prompt {
  display: inline-block;
}

.type {
  font-size: 20px;
}

.type.done {
  font-weight: bold;
}

.type.cursor {
  position: absolute;
  margin-left: -2px;
  font-size: 23px;
  margin-top: -2px;
  animation: .7s linear infinite blink;
}

@keyframes blink {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}