.dropdown {
  height: 350px;
  width: 250px;
  position: absolute;
  z-index: 5;
  border-radius: 0 0 0 20px;
  background-color: white;
  top: 75px;
  box-shadow: 0 2px 5px rgba(40, 40, 40, 0.25);
}
.stats, .login {
  right: 76px;
}

.signup {
  right: 0;
}